<main>
    <a href="/admin/opcciones/elecciones">
        <button class="btn btn-primary mt-2 px-5 ms-2">
            <img src="/assets/img/btn-regresar.png">
        </button>
    </a>
    <div class="container mt-5 d-flex justify-content-center">
        <form class="border shadow p-5 border border-dark w-50" action="/admin/opcciones/elecciones/agregar"
            method="post">
            <h2 class="text-center mb-3">Crear Eleccion</h2>
            <label for="">Nombre</label>
            <input class="form-control my-2" type="text" name="Nombre" placeholder="Nombre" required="required">
            <label for="">FechaDeRealizacion</label>
            <input class="form-control my-2" type="date" name="FechaDeRealizacion" placeholder="FechaDeRealizacion"
                required="required">
            <input class="form-control" value="true" type="hidden" name="Estado" required="required">

            <div class="d-flex justify-content-end">
                <button type="reset" class="btn btn-warning my-3 px-5">Limpiar</button>
                <button type="submit" class="btn btn-primary my-3 px-5 ms-2">Crear</button>
            </div>
        </form>
    </div>
</main>