<main class="container mt-5">
    <div class="row justify-content-center">
        <form action="/" method="post" class="w-50 mt-5 shadow p-5 pt-4">
            <h1 class="text-center mb-5">FORMULARIO</h1>
            <label class="my-3 mb-2 fs-4" for="DIdentidad">Documento De Identidad</label>
            <input class="form-control fs-4" type="text" name="DIdentidad" id="DIdentidad"
                placeholder="Ingrese Su Documento De Identidad">
            <div class="d-flex justify-content-end mt-2">
                <button class="btn btn-primary my-3 px-5 fs-4">Enviar</button>
            </div>
        </form>
    </div>
</main>